# Load main .env first
dotenv_if_exists .env

# Load environment variables from all microservices
dotenv_if_exists app/cv-ingestion/.env
dotenv_if_exists app/gui/.env
dotenv_if_exists app/offre-ingestion/.env
dotenv_if_exists app/matching/.env
